retrieveUnpackaged/flows/Test_Chatter_CE-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_LanID</name>
        <label>Add LanID</label>
        <locationX>318</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SHID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TestS1</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test Chatter CE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Chatter CE</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Session_Holder</name>
        <label>Create Session Holder</label>
        <locationX>153</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>SHID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_LanID</targetReference>
        </connector>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Session_Holder__c</object>
    </recordCreates>
    <screens>
        <name>TestS1</name>
        <label>TestS1</label>
        <locationX>306</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TestText</name>
            <fieldText>Test</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Create_Session_Holder</startElementReference>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>http://oeiodsta-oeiodstadev.cs33.force.com/ContactDetailTest?SHId=</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MyUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SHID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
