retrieveUnpackaged/flows/Test_Chatter_CE-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_LanID</name>
        <label>Add LanID</label>
        <locationX>199</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Test Chatter CE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Chatter CE</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>81</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TestS1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>MyUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LAN_ID__c</queriedFields>
    </recordLookups>
    <screens>
        <name>TestS1</name>
        <label>TestS1</label>
        <locationX>234</locationX>
        <locationY>223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_LanID</targetReference>
        </connector>
        <fields>
            <name>TestText</name>
            <fieldText>Test</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Add_LanID</startElementReference>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>http://oeiodsta-oeiodstadev.cs33.force.com/ContactDetailTest?LanId=</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MyUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
